<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Current time as Unix Timestamp:</h1>
    <h2><%= title %></h2>
    <br><br>
    <form action="/hello" method="POST">
    	<p>Press submit to send a POST request to '/hello'</p>
    	<input type="submit" value="Submit">
    </form>

  </body>
</html>